<h1>Search a flight</h1>
<div>
	<%= form_for :search, url: root_url, method: :get do |f|%>
		<%= f.label :from %>
		<%= f.collection_select(:from_code, @airports, :id, :city_code,
														prompt: "Select destination" ) %>

		<%= f.label :to %>
		<%= f.collection_select(:to_code, @airports, :id, :city_code,
		                        prompt: "Select airport"  ) %>

		<%= f.label :number_of_passangers %>
		<% passagers_number = (1..4).to_a %>
		<%= f.select :num_tickets, options_for_select(passagers_number),
		             prompt: "Number of passangers" %>

		<%= f.label :date %>
		<%= f.date_field :date %>

		<%= f.submit "Search"%>
	<%end%>
</div>

<% unless @flights.nil? %>
	<% if @flights.any? %>
		<%= form_for :flight, url: new_booking_path, method: :get do |f|%>
			<%= f.hidden_field :num_tickets, value: params[:search][:num_tickets] %>
			<div>
				<ul>
					<% @flights.each do |flight|%>
						<li>
							<p>Departing from:  <%= flight.from_airport.city_code%> </p>
							<p>Destination: 		<%= flight.to_airport.city_code%> </p>
							<p>Aproximated duration: 
																	<%= distance_of_time_in_words(flight.duration.minute) %>
							</p>
							<p>Departing date: 	<%= flight.start_datetime %></p>

							<%= f.radio_button :flight_id, flight.id%>
							<%= f.label :selected, "Select"%>
						</li>
					<%end%>
				</ul>
			</div>
			<%= f.submit "Book flight"%>
		<%end%>

	<%else%>
		<h2>No flights this day</h2>
	<%end%>
<%end%>